.container {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbtn {
    color: #ebebeb;
    margin: 0 auto;
    background-color: black;
    border: none;
    border-radius: 15px;
    padding: 10px;

    &:hover {
        background-color: lighten($color: #000000, $amount: 20)
    }
}