<div class="container" *ngIf="habit">
  <i class="lni lni-circle-minus" (click)="deleteHabit(habit.payload.doc.id)"></i>
  <p class="habit"> {{ habit.payload.doc.data().name }} </p>

  <div class="checkbox-container">

    <ul *ngIf="dates !== undefined && dates !== null">
      <li *ngFor="let date of daysArr.slice().reverse();" class="donemark lni" [ngClass]="{
          'lni-checkmark': existForDate(date),
          'lni-close': !existForDate(date) }" (click)="markAsDone(date)" >
      </li>
    </ul>
  </div>

</div>
