.container {
width: 100%;
display: flex;
align-items: center;

    .habit {
        font-size: 0.8rem;
        width: 40%;
    }

    .lni-checkmark {
        color: lightgreen;
    }

    .lni-close {
        color: lightcoral;
    }

    .lni-circle-minus {
        color: red;
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .checkbox-container {
        width: 62%;
    }

}

ul {
    display: flex;
    justify-content: space-between;
    padding-right: 1.5%;

    li {
        font-size: 1.4rem;
        margin-right: 4%;
    }

}

@media (max-width: 361px) {

    .container {
        padding-right: 1.9%;
    }
  }

@media (min-width: 375px) and (max-width: 377px) {

    ul {
        padding-right: 15px;
    }
}