* {
  color: #ebebeb;
  background-color: black;
}

.add-container {
  margin-top: 20vh;
  text-align: center;
}


.habitInput {
  width: 35%;
  height: 100%;
  border: 1px solid #555555;
  border-radius: 8px;
  padding: 5px;
  background-color: black;
  outline: none;
}

.addButton {
  margin-left: 1vh;
  border: none;
  padding: 5px;
  color: lightgreen;
}
