
<div class="add-container">
    <input type="text" name="Habit name" class="habitInput" [(ngModel)]="inputName">
    <button type="submit" class="addButton" (click)="addHabit(inputName)">Add habit</button>
</div>