<div class="weekdays-container">
    <div class="even-habit">

    </div>
    <div class="days-container">
      <p class="day" *ngFor="let day of daysArr">
      {{day.format('ddd')}} <br>
      {{day.format('DD')}}
    </p>
    </div>
</div>

<div class="habits-container">

  <ul *ngIf="habits">
    <li *ngFor="let habit of habits | async; let i = index" [attr.data-index]="i">
      <app-habits-row [habit]="habit" style="width: 100%;"></app-habits-row>
    </li>
  </ul>

</div>
