* {
  color: #ebebeb;
  background-color: black;
}

  .weekdays-container {
    display: flex;
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 100%;

    .even-habit {
      width: 45%;
    }

    .days-container {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      width: 55%;
      padding-right: 1.35%;

      .day {
        font-size: 0.7rem;
      }
    }

  }


.habits-container {
  width: 100%;

  li {
    margin-top: 3vh;
    margin-bottom: 3vh;
    list-style-type: none;
    justify-content: space-between;
  }


}
