* {
    color: #ebebeb;
    background-color: black;
  }

.title {
    font-size: 1.7rem;
    font-weight: 600;
    padding-top: 1.5%;
    margin: 0 auto;
    text-align: center;
  }

  .topbar {
    width: 100%;
    height: 10vh;
  }

  .btns-container {
    display: flex;
    justify-content: space-evenly;
    margin: 5% auto;

    i {
      font-size: 1.7rem;

      &:hover {
        color: darken($color: #ebebeb, $amount: 20);
      }
    }

    .lni-circle-plus {
      color: lightgreen;
      &:hover {
        color: darken($color: lightgreen, $amount: 20);
      }
    }

    .lni-exit {
      color: lightcoral;
      &:hover {
        color:darken($color: lightcoral, $amount: 20);
      }
    }

    .lni-list {
      color: lightskyblue;
      &:hover {
        color: darken($color: lightskyblue, $amount: 20);
      }
    }

  }