<div class="topbar">
    <p class="title">Habits Tracker</p>

    <div class="btns-container">
      <i class="lni lni-circle-plus" (click)="navigateToAdd()"></i>
      <i class="lni lni-list" (click)="navigateToHabits()"></i>
      <i class="lni lni-exit" (click)="logout()"></i>
    </div>
  </div>

<router-outlet></router-outlet>